################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MultiverseRel/.vs/MultiverseRel/DesignTimeBuild
/MultiverseRel/.vs/MultiverseRel/FileContentIndex
/MultiverseRel/.vs/MultiverseRel/v17
/MultiverseRel/.vs/ProjectEvaluation
/.vs/TModLoader---Multiverse-Reloaded/v17/.wsuo
/.vs/VSWorkspaceState.json
/Multiverse2/.vs/Multiverse2/FileContentIndex/ea0b76ad-cdba-40fc-8e75-40e25be39b3a.vsidx
/Multiverse2/.vs/Multiverse2/v17/.futdcache.v2
/Multiverse2/.vs/Multiverse2/v17/.suo
/Multiverse2/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Multiverse2/obj/Debug/net6.0/Multiverse2.AssemblyInfo.cs
/Multiverse2/obj/Debug/net6.0/Multiverse2.AssemblyInfoInputs.cache
/Multiverse2/obj/Debug/net6.0/Multiverse2.assets.cache
/Multiverse2/obj/Debug/net6.0/Multiverse2.csproj.AssemblyReference.cache
/Multiverse2/obj/Debug/net6.0/Multiverse2.GeneratedMSBuildEditorConfig.editorconfig
/Multiverse2/obj/Multiverse2.csproj.nuget.dgspec.json
/Multiverse2/obj/Multiverse2.csproj.nuget.g.props
/Multiverse2/obj/Multiverse2.csproj.nuget.g.targets
/Multiverse2/obj/project.assets.json
/Multiverse2/obj/project.nuget.cache
/MultiverseRel/obj/Debug/net6.0/MultiverseRel.csproj.AssemblyReference.cache
